.toast-container {
    position: fixed;
    top: 1.25rem;
    right: 0;
    z-index: 11000;
    width: 100%;
}

.toast {
    border-bottom: 0;
    border-top: 0;
    border-radius: 0.25rem 0 0 0.2rem;
    border-left: 5px solid;
    
}
.toast .toast-body {
    background-color: rgba(255,255,255,.85);
}

.toast.success {
    border-left: 5px solid #1c7330;
    background-color: #1c7330d9;
}

.toast.success .toast-header {
    color: #1c7330;
}

.toast.danger {
    border-left: 5px solid #ef8664;
    background-color: #ef8664d9;
}

.toast.danger .toast-header {
    color: #ef8664;
}
